<div class="rendered-form">
    <div class="">
        <h3 access="false" id="control-4141948">Unique Identifiers</h3></div>
    <div class="">
        <p access="false" id="control-6975700">Specific and unique identifying information tied to the item.</p>
    </div>
    <div class="formbuilder-text form-group field-text-1644204181152">
        <label for="text-1644204181152" class="formbuilder-text-label">ISBN 10<span class="tooltip-element" tooltip="Enter the 10 digit ISBN without dashes or spaces">?</span></label>
        <input type="text" placeholder="1234567890" class="form-control" name="text-1644204181152" access="false" id="text-1644204181152" title="Enter the 10 digit ISBN without dashes or spaces">
    </div>
    <div class="formbuilder-text form-group field-text-1644204183651">
        <label for="text-1644204183651" class="formbuilder-text-label">ISBN 13<span class="tooltip-element" tooltip="Enter the13 digit ISBN without dashes or spaces">?</span></label>
        <input type="text" placeholder="1234567890123" class="form-control" name="text-1644204183651" access="false" id="text-1644204183651" title="Enter the13 digit ISBN without dashes or spaces">
    </div>
    <div class="formbuilder-text form-group field-text-1644204185802">
        <label for="text-1644204185802" class="formbuilder-text-label">OCLC Number<span class="tooltip-element" tooltip="Enter the OCLC number for this item">?</span></label>
        <input type="text" class="form-control" name="text-1644204185802" access="false" id="text-1644204185802" title="Enter the OCLC number for this item">
    </div>
    <div class="formbuilder-text form-group field-text-1644204187986">
        <label for="text-1644204187986" class="formbuilder-text-label">ISSN<span class="tooltip-element" tooltip="Enter the ISSN without spaces or dashes">?</span></label>
        <input type="text" placeholder="1234567890" class="form-control" name="text-1644204187986" access="false" id="text-1644204187986" title="Enter the ISSN without spaces or dashes">
    </div>
    <div class="formbuilder-text form-group field-text-1644204189804">
        <label for="text-1644204189804" class="formbuilder-text-label">UPC<span class="tooltip-element" tooltip="Enter the UPC number without dashes or spaces">?</span></label>
        <input type="text" placeholder="123456789" class="form-control" name="text-1644204189804" access="false" id="text-1644204189804" title="Enter the UPC number without dashes or spaces">
    </div>
    <div class="formbuilder-text form-group field-text-1644204191803">
        <label for="text-1644204191803" class="formbuilder-text-label">DOI<span class="tooltip-element" tooltip="Enter only the DOI number without the URL information.">?</span></label>
        <input type="text" placeholder="10.1080/15588742.2015.1017687" class="form-control" name="text-1644204191803" access="false" id="text-1644204191803" title="Enter only the DOI number without the URL information.">
    </div>
    <div class="">
        <h3 access="false" id="control-3080028">Basic Item Information</h3></div>
    <div class="">
        <p access="false" id="control-8303991">The underlying information for this item. Fill out these fields as completely as possible.</p>
    </div>
    <div class="formbuilder-text form-group field-text-1644202850812">
        <label for="text-1644202850812" class="formbuilder-text-label">Title<span class="formbuilder-required">*</span><span class="tooltip-element" tooltip="The item's primary title">?</span></label>
        <input type="text" placeholder="Item Title - Required" class="form-control" name="text-1644202850812" access="false" id="text-1644202850812" title="The item's primary title" required="required" aria-required="true">
    </div>
    <div class="formbuilder-text form-group field-text-1644202854913">
        <label for="text-1644202854913" class="formbuilder-text-label">Creator | Author | Director<span class="tooltip-element" tooltip="The item's primary creator">?</span></label>
        <input type="text" placeholder="Lastname, Firstname" class="form-control" name="text-1644202854913" access="false" id="text-1644202854913" title="The item's primary creator">
    </div>
    <div class="formbuilder-text form-group field-text-1644202862749">
        <label for="text-1644202862749" class="formbuilder-text-label">Publisher<span class="tooltip-element" tooltip="The publisher or distributor for this item">?</span></label>
        <input type="text" class="form-control" name="text-1644202862749" access="false" id="text-1644202862749" title="The publisher or distributor for this item">
    </div>
    <div class="formbuilder-text form-group field-text-1644202864349">
        <label for="text-1644202864349" class="formbuilder-text-label">Publication Date<span class="tooltip-element" tooltip="This can be a full date or only a year.">?</span></label>
        <input type="text" class="form-control" name="text-1644202864349" access="false" id="text-1644202864349" title="This can be a full date or only a year.">
    </div>
    <div class="formbuilder-select form-group field-select-1644202882337">
        <label for="select-1644202882337" class="formbuilder-select-label">Series<span class="tooltip-element" tooltip="Select from an available series. Choose &quot;Singular Work&quot; if not part of a series.">?</span></label>
        <select class="form-control" name="select-1644202882337" id="select-1644202882337">
            <option value="option-1" selected="true" id="select-1644202882337-0">Option 1</option>
            <option value="option-2" id="select-1644202882337-1">Option 2</option>
            <option value="option-3" id="select-1644202882337-2">Option 3</option>
        </select>
    </div>
    <div class="formbuilder-number form-group field-number-1644202899708">
        <label for="number-1644202899708" class="formbuilder-number-label">Series Position<span class="tooltip-element" tooltip="The ordinal position in the series above. Leave blank if not part of a series.">?</span></label>
        <input type="number" class="form-control" name="number-1644202899708" access="false" id="number-1644202899708" title="The ordinal position in the series above. Leave blank if not part of a series.">
    </div>
    <div class="formbuilder-select form-group field-select-1644202919815">
        <label for="select-1644202919815" class="formbuilder-select-label">Item Type<span class="tooltip-element" tooltip="Select the primary type for this item">?</span></label>
        <select class="form-control" name="select-1644202919815" id="select-1644202919815">
            <option value="option-1" selected="true" id="select-1644202919815-0">Option 1</option>
            <option value="option-2" id="select-1644202919815-1">Option 2</option>
            <option value="option-3" id="select-1644202919815-2">Option 3</option>
        </select>
    </div>
    <div class="formbuilder-text form-group field-text-1644202944586">
        <label for="text-1644202944586" class="formbuilder-text-label">Format<span class="tooltip-element" tooltip="Enter a format if applicable">?</span></label>
        <input type="text" class="form-control" name="text-1644202944586" access="false" id="text-1644202944586" title="Enter a format if applicable">
    </div>
    <div class="formbuilder-select form-group field-select-1644202949656">
        <label for="select-1644202949656" class="formbuilder-select-label">Language<span class="tooltip-element" tooltip="Select the primary language for this item">?</span></label>
        <select class="form-control" name="select-1644202949656" id="select-1644202949656">
            <option value="option-1" selected="true" id="select-1644202949656-0">Option 1</option>
            <option value="option-2" id="select-1644202949656-1">Option 2</option>
            <option value="option-3" id="select-1644202949656-2">Option 3</option>
        </select>
    </div>
    <div class="">
        <h3 access="false" id="control-8361442">Subject Headings</h3></div>
    <div class="">
        <p access="false" id="control-4700751">These are the overarching subject headings for the item. For best results, use standard Library of Congress Subject Headings. You may enter up to five different subject headings.</p>
    </div>
    <div class="formbuilder-text form-group field-text-1644203582079">
        <label for="text-1644203582079" class="formbuilder-text-label">Subject Heading 1</label>
        <input type="text" class="form-control" name="text-1644203582079" access="false" id="text-1644203582079">
    </div>
    <div class="formbuilder-text form-group field-text-1644203589813">
        <label for="text-1644203589813" class="formbuilder-text-label">Subject Heading 2</label>
        <input type="text" class="form-control" name="text-1644203589813" access="false" id="text-1644203589813">
    </div>
    <div class="formbuilder-text form-group field-text-1644203591999">
        <label for="text-1644203591999" class="formbuilder-text-label">Subject Heading 3</label>
        <input type="text" class="form-control" name="text-1644203591999" access="false" id="text-1644203591999">
    </div>
    <div class="formbuilder-text form-group field-text-1644203584644">
        <label for="text-1644203584644" class="formbuilder-text-label">Subject Heading 4</label>
        <input type="text" class="form-control" name="text-1644203584644" access="false" id="text-1644203584644">
    </div>
    <div class="formbuilder-text form-group field-text-1644203587196">
        <label for="text-1644203587196" class="formbuilder-text-label">Subject Heading 5</label>
        <input type="text" class="form-control" name="text-1644203587196" access="false" id="text-1644203587196">
    </div>
    <div class="">
        <h3 access="false" id="control-3996331">Summary</h3></div>
    <div class="">
        <p access="false" id="control-4628764">Provide a brief summary of the item's content.</p>
    </div>
    <div class="formbuilder-textarea form-group field-textarea-1644204040844">
        <label for="textarea-1644204040844" class="formbuilder-textarea-label">Text Area</label>
        <textarea type="textarea" class="form-control" name="textarea-1644204040844" access="false" rows="10" id="textarea-1644204040844"></textarea>
    </div>
    <div class="">
        <h3 access="false" id="control-2013465">Further Information</h3></div>
    <div class="">
        <p access="false" id="control-5592131">Provide links to further information about the item. You may add up to five links.</p>
    </div>
    <div class="formbuilder-select form-group field-select-1644204693211">
        <label for="select-1644204693211" class="formbuilder-select-label">Further Info 1</label>
        <select class="form-control" name="select-1644204693211" id="select-1644204693211">
            <option value="option-1" selected="true" id="select-1644204693211-0">Option 1</option>
            <option value="option-2" id="select-1644204693211-1">Option 2</option>
            <option value="option-3" id="select-1644204693211-2">Option 3</option>
        </select>
    </div>
    <div class="formbuilder-text form-group field-text-1644204695614">
        <label for="text-1644204695614" class="formbuilder-text-label">Further Info 1 Content</label>
        <input type="text" class="form-control" name="text-1644204695614" access="false" id="text-1644204695614">
    </div>
    <div class="formbuilder-select form-group field-select-1644205160715">
        <label for="select-1644205160715" class="formbuilder-select-label">Further Info 2</label>
        <select class="form-control" name="select-1644205160715" id="select-1644205160715">
            <option value="option-1" selected="true" id="select-1644205160715-0">Option 1</option>
            <option value="option-2" id="select-1644205160715-1">Option 2</option>
            <option value="option-3" id="select-1644205160715-2">Option 3</option>
        </select>
    </div>
    <div class="formbuilder-text form-group field-text-1644205148614">
        <label for="text-1644205148614" class="formbuilder-text-label">Further Info 2 Content</label>
        <input type="text" class="form-control" name="text-1644205148614" access="false" id="text-1644205148614">
    </div>
    <div class="formbuilder-select form-group field-select-1644205164383">
        <label for="select-1644205164383" class="formbuilder-select-label">Further Info 3</label>
        <select class="form-control" name="select-1644205164383" id="select-1644205164383">
            <option value="option-1" selected="true" id="select-1644205164383-0">Option 1</option>
            <option value="option-2" id="select-1644205164383-1">Option 2</option>
            <option value="option-3" id="select-1644205164383-2">Option 3</option>
        </select>
    </div>
    <div class="formbuilder-text form-group field-text-1644205150995">
        <label for="text-1644205150995" class="formbuilder-text-label">Further Info 3 Content</label>
        <input type="text" class="form-control" name="text-1644205150995" access="false" id="text-1644205150995">
    </div>
    <div class="formbuilder-select form-group field-select-1644205172502">
        <label for="select-1644205172502" class="formbuilder-select-label">Further Info 4</label>
        <select class="form-control" name="select-1644205172502" id="select-1644205172502">
            <option value="option-1" selected="true" id="select-1644205172502-0">Option 1</option>
            <option value="option-2" id="select-1644205172502-1">Option 2</option>
            <option value="option-3" id="select-1644205172502-2">Option 3</option>
        </select>
    </div>
    <div class="formbuilder-text form-group field-text-1644205153447">
        <label for="text-1644205153447" class="formbuilder-text-label">Further Info 4 Content</label>
        <input type="text" class="form-control" name="text-1644205153447" access="false" id="text-1644205153447">
    </div>
    <div class="formbuilder-select form-group field-select-1644205174537">
        <label for="select-1644205174537" class="formbuilder-select-label">Further Info 5</label>
        <select class="form-control" name="select-1644205174537" id="select-1644205174537">
            <option value="option-1" selected="true" id="select-1644205174537-0">Option 1</option>
            <option value="option-2" id="select-1644205174537-1">Option 2</option>
            <option value="option-3" id="select-1644205174537-2">Option 3</option>
        </select>
    </div>
    <div class="formbuilder-text form-group field-text-1644205156881">
        <label for="text-1644205156881" class="formbuilder-text-label">Further Info 5 Content</label>
        <input type="text" class="form-control" name="text-1644205156881" access="false" id="text-1644205156881">
    </div>
    <div class="">
        <h3 access="false" id="control-3355394">Cover Image</h3></div>
    <div class="">
        <p access="false" id="control-4011444">Upload a cover image to apply to the item record.</p>
    </div>
    <div class="formbuilder-file form-group field-file-1644205674332">
        <label for="file-1644205674332" class="formbuilder-file-label">Cover Image - Upload</label>
        <input type="file" class="form-control" name="file-1644205674332" access="false" multiple="false" id="file-1644205674332">
    </div>
    <div class="formbuilder-button form-group field-button-1644205683283">
        <button type="submit" class="btn-primary btn" name="button-1644205683283" access="false" style="primary" id="button-1644205683283">Submit Item Record</button>
    </div>
</div>